<template name="nav">
  <header class="header grid">

    <a id="mobile-menu" href="#menu" class="mobile mobile-button menu"><i class="icon-menu"></i><span>{{i18n "Menu"}}</span></a>

    <div class="container">

    <blockquote class="purocss">La comunicación es nuestra razón de ser.</blockquote>

    <div class="row">
        <div class="eight columns offset-by-four cabecera">
          <h1 class="titulo" style="margin-top: 25px"><img src="img/logo.png"  width="270"></h1>
        <h3 class="subtitulo">Comunicación y Producción audiovisual</h3>
      </div>
  </div>
  
  <div class="row">
  <div class="eight columns offset-by-four cabecera">
    
      <div class="iconos">
          <a target="_blank" href="https://es-es.facebook.com/Reafilma"><div class="icon_facebook icon_social"></div></a>
        <a target="_blank" href="https://twitter.com/Reafilma/"><div class="icon_twitter icon_social"></div></a>
        <a target="_blank" href="https://youtube.com/Reafilma/"><div class="icon_youtube icon_social"></div></a>
        <a target="_blank" href="https://plus.google.com/s/reafilma"><div class="icon_social icon_googleplus"></div></a>
        <a target="_blank" href="http://uk.linkedin.com/company/reafilma-comunicaci-n-y-producci-n-audiovisual"><div class="icon_social icon_linkedin"></div></a>
        <a target="_blank" href="http://vimeo.com/reafilma"><div class="icon_social icon_vimeo"></div></a>
      </div>
  </div>
  </div>

  <div class="sixteen columns  cabecera">
   
   <ul class="menu-principal"> 
      <li class="menu-link"><a class="active" href="/">Reafilma</a></li>
      <li class="menu-link"><a href="/trabajos">Trabajos</a></li>
      <li class="menu-link"><a  href="/nosotros">Nosotros</a></li>
      <li class="menu-link"><a href="/clientes">Clientes</a></li>
      <li class="menu-link"><a href="/contacto">Contacto</a></li>
    </ul>
  </div>
  

  </header>
</template>