<template name="nosotros">

<section id="nosotros">
<div class="container">	

<ul class="ch-grid">
    <li>
        <div class="ch-item ch-img-1">
        	<h2>Premisa</h2>
            <div class="ch-info">
               
                <p>Comunicar es existir</p>
            </div>
        </div>
    </li>
    <li>
        <div class="ch-item ch-img-2">
        	<h2>Objetivos</h2>
            <div class="ch-info">
                
                <p>No solo que existas si no que los demás lo sepan</p>
            </div>
        </div>
    </li>
    <li>
        <div class="ch-item ch-img-3">
        	<h2>Herramientas</h2>
            <div class="ch-info">
               
                <p>La estrategia comunicativa y generación de contenidos</p>
            </div>
        </div>
    </li>
</ul>	
			
			
			
			<div class="row">
				
				<div class="five columns offset-by-half">
					<h3>Inquietud</h3> 
					 
               <blockquote class="puro">Si hay algo que nos defina es la inquietud, y fue la inquietud la que hizo que distintos profesionales de la comunicación, la realización y el mundo web se unieran en este proyecto.</blockquote> 

					
				</div>
				
				<div class="five columns">
					<h3>Planificación</h3> 
					
					<blockquote class="puro">La planificación y el criterio son nuestras constantes. En Reafilma no hay trabajo menor, intentamos aplicar nuestro conocimiento y experiencia a todo lo que hacemos.</blockquote>
				</div>
				
				<div class="five columns">
					<h3>Flexibilidad</h3> 
					
					<blockquote class="puro">La flexibilidad es una de nuestras características. Nos adaptamos tus necesidades realizando un estudio individualizado de cada cuestión comunicativa a resolver.</blockquote>
				</div>
				
			<div class="row">
				<div class="offset-by-three five columns">
					<h3>Cercanía</h3> 
					
					<blockquote class="puro">La cercanía es lo que más valoran nuestros clientes. Realizamos una comunicación continua durante el proceso de trabajo para que el resultado sea siempre preciso..</blockquote> 
				</div>
				
				<div class="five columns">
					<h3>Velocidad</h3> 
					
					<blockquote class="puro">La velocidad es otra de nuestras capacidades. Podemos comprometernos a la entrega de un producto en plazos difícilmente superable.</blockquote> 
				</div>
			</div>
				</div>
		</div>
		</section>
		

</template>